/* kenzap design system */
.kp_design_cont {
  display: flex;
}

.kp_design {
  max-width: 500px;
}

.kp_design h3 {
  font-size: 18px;
  font-weight: 400;
}

.kp_design .desc {
  max-width: 300px;
  margin-top: 8px;
  font-style: italic;
  margin-bottom: 14px;
}

.kp_design .kp-input {
  padding: 20px 14px;
  font-size: 20px;
  border: 0;
  width: 300px;
  margin-top: -8px;
}

.kp_design select.kp-input {
  border-radius: 0;
  font-size: 18px;
  height: 40px;
}

#design_form button:focus,#design_form input:focus {outline:0!important;}


/* ######## */
.wrap .kp-img {
  cursor: pointer;
}

.wrap .kp_palette {
  margin-left: 0px;
  width: 540px;
}

.wrap .kp_palette .color_cont {
  display: inline-block;
  height: 35px;
  width: 35px;
  margin-right: 5px;
  margin-bottom: 5px;
  vertical-align: top;
  transform: scale(1);
  transition: transform .1s ease;
}

.wrap .kp_palette .color_item {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 50%;
  background: transparent;
  box-shadow: inset 0 0 0 18px;
  transition: box-shadow .1s ease;
  cursor: pointer;
}

.wrap .kp_palette .color_cont_now .color_item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
}